.list {
display: flex;
justify-content: space-between;
border-bottom: solid #DCDCDC 1px;
width: 90%;
margin-left: 2.7%;
margin-right: 5%;

}

.leftPart {
    /* border: solid red 1px; */
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1rem;
}

.rightPart {
    /* border: solid green 1px; */
}

.list h3 {
  /* border: solid blue 1px; */
  color: #1a1a1a;
  width: 40%;
}

.description {
    /* border: solid blue 1px; */
    width: 40%;
    font-style: italic;
}

.price {
    /* border: solid blue 1px; */
    width: 30%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
    color: #A0522D;
}

@media only screen and (max-width: 715px) {
    .list {
        flex-direction: column;
        align-items: center;
        width: 100%;
        /* border: solid blue 1px; */
        margin-left: -1rem;
    }
}