.bottomCart {
    /* border: solid red 1px; */
    height: 5.5rem;
}

.h1 {
    color: black;
    /* border: solid green 1px; */
    margin-left: 0rem;
    margin-top: 0rem;
    font-size: 1.5rem;
    
}

.topPart {
    /* border: solid green 1px; */
    display: flex;
    justify-content: space-between;
}

.amount {
    /* border: solid blue 1px; */
    font-size: 1.5rem;
    font-weight: bold;
}

.buttonsBottom {
    /* border: solid blue 1px; */
    text-align: right;
    margin-right: 1rem;
}

.buttonClose {
    cursor: pointer;
    width: 7rem;
    margin-right: 1rem;
    height: 2.5rem;
    font-size: 1rem;
    border:solid #661a00 2px; 
    border-radius: 1.3rem;
    background-color: white;
    color: #A0522D;
    font-weight: bold;
}

.buttonOrder {
    cursor: pointer;
    width: 7rem;
    height: 2.5rem;
    font-size: 1rem;
    border:none;
    border-radius: 1.3rem;
    background-color:  #A0522D;
    color: white;
    font-weight: bold;
}

.buttonClose:hover {
    background-color:  #661a00;
    color: white;
}

.buttonOrder:hover {
    background-color:  #661a00;
}