.ul {
    list-style-type: none;
    overflow: scroll;
    max-height: 18rem;
}

.li {
    display: flex;
    justify-content: space-between;
    border-bottom: solid #661a00 2px;
    height: 10rem;
    margin-left: -2.5rem;
}

.name {
  font-size: 1.5rem; 
  font-weight: bold; 
  color: #404040;
}

.leftBlock {
    margin-top: 3rem;
    margin-left: 1rem;
}

.price {
    margin-top: 1rem;
    
}

.price1 {
    color: #A0522D;
    font-weight: bold;
}

.quantity {
    border: solid grey 1px;
    padding: .5rem;
    border-radius: .5rem;
    font-weight: bold;
    color: #404040;
    margin-left: 2rem;
}

.buttons {
    /* border: solid green 1px; */
    width: 30%;
    margin-top: 13%;
    margin-bottom: 10%;
}

.minus {
 cursor: pointer;
  width: 3rem;
  height: 2rem;
  border-radius: 1px;
  border:solid #661a00 2px; 
  background-color: white;
  font-weight: bold;
}

.plus {
    cursor: pointer;
    width: 3rem;
    height: 2rem;
    border-radius: 1px;
    border:solid #661a00 2px;  
    background-color: white;
    margin-left: 1rem;
    font-weight: bold;
  }

  .minus:hover,
  .plus:hover {
     background-color: #661a00;
     color: white;
  }

