.card {
    width: 70%;
    margin-left: 15%;
    border-radius: .9rem;
    background-color: white;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    margin-top: 3rem;
    margin-bottom: 5rem;
}

@media only screen and (max-width: 715px) {
    .card {
        margin-top: 60%;
        /* border: solid red 1px; */
    } 
}